
    .city {
       
       background-color: #e2c2de;
       color: black;
       padding: 10px;
    }

   
   .main{

       text-align: center;
     }
   
p.dotted{
    border-style: dotted;
    border-width: 3px;
}

p.solid{
    border-style: solid;
}

.back{
    background-color: #3f0938;
    color: white;
    padding: 10px;
    font-style:italic    
}